MATROSKAICON ICON  "../../share/icons/windows/mkvinfo.ico"

#include "wx/msw/wx.rc"

1 VERSIONINFO
 FILEVERSION 4, 8, 0, 0
 PRODUCTVERSION 4, 8, 0, 0
 FILEFLAGSMASK 0x3f
 FILEOS 0x4
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Moritz Bunkus"
      VALUE "FileDescription", "mkvinfo"
      VALUE "FileVersion", "4.8.0"
      VALUE "InternalName", "mkvinfo"
      VALUE "LegalCopyright", "Released under the GNU Pulic License http://www.gnu.org/licenses/gpl-2.0.html"
      VALUE "OriginalFilename", "mkvinfo"
      VALUE "ProductName", "MKVToolNix"
      VALUE "ProductVersion", "4.8.0"
    END
  END
END
