Makefile
lib*.a
*.o
.deps
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data
/doc/man/mkvmerge.1
/doc/man/mkvextract.1
/doc/man/mkvinfo.1
