Makefile
lib*.a
*.o
*~
.deps
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data
/src/mkvpropedit
/src/mkvpropedit.exe
/build-stamp
/debian
/debian-upstream/files
/debian-upstream/files
/debian-upstream/mkvtoolnix
/debian-upstream/mkvtoolnix.debhelper.log
/debian-upstream/mkvtoolnix.substvars
/debian-upstream/mkvtoolnix-gui.debhelper.log
/debian-upstream/mkvtoolnix-gui
/debian-upstream/tmp
/debian-upstream/mkvtoolnix-gui.postinst.debhelper
/debian-upstream/mkvtoolnix-gui.postrm.debhelper
/debian-upstream/mkvtoolnix-gui.substvars
/src/mkvinfo-gui
/src/mmg/mmg-gui
/doc/man/*/*.xml
/src/common/common.h.gch
/Debug
/Release
/src/info/*.moc.cpp
/src/info/ui/mainwindow.h
/po/mkvtoolnix.pot
