*.deps
*.exe
*.moc
*.moco
*.o
*~
/Debug
/Release
/autom4te.cache
/build-config
/build-config
/build-stamp
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/data
/debian
/debian-upstream/files
/debian-upstream/files
/debian-upstream/mkvtoolnix
/debian-upstream/mkvtoolnix-gui
/debian-upstream/mkvtoolnix-gui.debhelper.log
/debian-upstream/mkvtoolnix-gui.postinst.debhelper
/debian-upstream/mkvtoolnix-gui.postrm.debhelper
/debian-upstream/mkvtoolnix-gui.substvars
/debian-upstream/mkvtoolnix.debhelper.log
/debian-upstream/mkvtoolnix.substvars
/debian-upstream/tmp
/doc/guide/*/*.hhk
/doc/man/*/*.xml
/doc/man/po4a/po/mkvtoolnix.pot
/po/*.mo
/po/mkvtoolnix.pot
/rake.d/dependency.d
/src/common/common.h.gch
/src/common/common_pch.h.gch
/src/info/ui/*.h
/src/mkvextract
/src/mkvinfo
/src/mkvinfo-gui
/src/mkvmerge
/src/mkvpropedit
/src/mmg/mmg
/src/mmg/mmg-gui
/src/mmg-qt/forms/*.h
/src/mmg-qt/mmg-qt
/src/mmg-qt/resources.cpp
/src/tools/ac3parser
/src/tools/base64tool
/src/tools/diracparser
/src/tools/ebml_validator
/src/tools/vc1parser
/tests/data
BROWSE
Makefile
TAGS
lib*.a
