[submodule "lib/libebml"]
	path = lib/libebml
	url = https://github.com/Matroska-Org/libebml.git
[submodule "lib/libmatroska"]
	path = lib/libmatroska
	url = https://github.com/Matroska-Org/libmatroska.git
