[Desktop Entry]
Type=Application
Name=mkvinfo
GenericName=Show information about MKV files
GenericName[de]=Informationen über MKV-Dateien anzeigen
GenericName[es]=Mostrar información sobre ficheros MKV
Icon=mkvinfo
Exec=mkvinfo -g
Terminal=false
MimeType=video/x-matroska;audio/x-matroska;
Categories=AudioVideo;AudioVideoEditing;
InitialPreference=-1
