[Desktop Entry]
Type=Application
Name=mkvmerge GUI
GenericName=MKV files creator
GenericName[de]=MKV-Dateien erstellen
GenericName[es]=Creador de ficheros MKV
GenericName[fr]=Créateur de fichiers MKV
Icon=mkvmergeGUI
Exec=mmg
Terminal=false
MimeType=application/x-mmg-settings;video/x-matroska;audio/x-matroska;
Categories=GNOME;AudioVideo;AudioVideoEditing;
InitialPreference=-5
