[Desktop Entry]
Type=Application
Name=mkvmerge GUI
GenericName=MKV files creator
GenericName[de]=MKV-Dateien erstellen
GenericName[es]=Creador de ficheros MKV
GenericName[fr]=Créateur de fichiers MKV
GenericName[zh_CN]=MKV 文件创建器
GenericName[zh_TW]=MKV 檔製作軟體
Icon=mkvmergeGUI
Exec=mmg %F
Terminal=false
MimeType=application/x-mmg-settings;video/x-matroska;audio/x-matroska;
Categories=GNOME;AudioVideo;AudioVideoEditing;
InitialPreference=-5
