[Desktop Entry]
Name=MKV files creator
Name[fr]=Créateur de fichiers MKV
Exec=mmg
Terminal=false
Type=Application
Categories=GNOME;AudioVideo;
Icon=matroskalogo
