Source: mkvtoolnix
Section: graphics
Priority: optional
Maintainer: Moritz Bunkus <moritz@bunkus.org>
Build-Depends: debhelper (>> 3.0.0), libebml-dev (>= 0.4.0-1), libmatroska-dev (>= 0.4.0-1), libogg-dev, libvorbis-dev
Standards-Version: 3.5.8

Package: mkvtoolnix
Architecture: any
Depends: ${shlibs:Depends}
Description: create and work with Matroska media files
 Matroska is aiming to become the standard of Multimedia Container
 Formats. It is based on EBML (Extensible Binary Meta Language), a
 kind of binary version of XML. These tools can work with Matroska files:
   * mkvmerge creates Matroska files from various other formats.
   * mkvinfo lists information about the tracks contained in a Matroska
     file.
